---
layout: bootcamp2
root: .
venue: BELSPO
address: Avenue Louise/Louizalaan 231, 1050 Brussels
country: be
language: en
latlng: 50.825349, 4.365441
humandate: "Nov 2-3, 2015"
humantime: "9:00 - 17:00"
startdate: "2015-11-02"
enddate: "2015-11-02"
instructor: ["Leszek Tarkowski", "Frederik Coppens"]
helper: ["Dima Fishman", "Christof De Bo"]
contact: leszek.tarkowski@gmail.com
etherpad: http://pad.software-carpentry.org/2015-11-02-DC-Brussels        # optional (insert the URL for your Etherpad if you're using one)
eventbrite: "18312852234"      # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
---
<h2>Workshop Information</h2>
<h3>Data Carpentry</h3>
<p>
In many domains of research the rapid generation of large amounts of data is fundamentally changing how research is done. The deluge of data presents great opportunities, but also many challenges in managing, analyzing and sharing data. Data Carpentry is designed to teach basic concepts, skills and tools for working more effectively with data.  The workshop is aimed at researchers in the life sciences at all career stages and is designed for learners with little to no prior knowledge of programming, shell scripting, or command line tools.
</p>

<h3>Etherpad</h3>
<p>For communication we will be using <a href="http://pad.software-carpentry.org/2015-11-02-DC-Brussels">this Etherpad </a></p>

<h3>Workshop learning objectives  & programme</h3>
<p>Workshop Learning objectives  & programme

<ul>
<li>How to use spreadsheet programs (such as Excel) more effectively, and the limitations of such programs.</li>
<li>Getting data out of spreadsheets and into more powerful tools (R).</li>
<li>Using databases, including managing and querying data in SQL.</li>
<li>Workflows and automating repetitive tasks, in particular using the command line shell.</li>
</ul>
</p>

{% if page.latlng %}
<h2> Venue</h2>
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<h3>Contact</h3>
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<div class="alert"> <span style="font-size: 14pt;">The participants will need to bring <strong>their own laptops</strong> configured <strong> before </strong>
    the workshop according to the  <a href="#setup">setup instructions</a>. </span></div>

<p>
We especially encourage to register those who may be less familiar with the above topics. There is no prerequisite as to what computing skills and knowledge is required. <br/><br/>
</p>

<h2>Acknowledgements &amp; Support</h2>
<!--<div class="pull-right" style="max-width: 320px; padding-left: 6px;">-->
<p>
The workshop is supported by the <a href="http://www.elixir-europe.org/">ELIXIR programme</a>. <a href="http://www.datacarpentry.org/">Data Carpentry</a>   is a sibling organization of <a href="http://www.software-carpentry.org/">Software Carpentry</a> and is designed to teach basic concepts, skills and tools for working more effectively with data. The structure and objectives of the curriculum as well as the teaching style are informed by Software Carpentry.
</p>


<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Schedule</h2>



<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome and setup help</td> </tr>
      <tr> <td>09:30</td>  <td>Caveats of working with data in spreadsheets</td> </tr>
      <tr> <td>10:00</td>  <td>Introduction to Open Refine</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Working with Open Refine</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Introduction to RStudio</td> </tr>
      <tr> <td>13:20</td>  <td>Introduction to data manipulation with R - part 1 </td> </tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:30</td>  <td>Introduction to data manipulation with R - part 2 </td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Data visualisation with R - part 1</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Data visualisation with R - part 2</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Introduction to data manipulation with SQL - part 1</td> </tr>
      <tr> <td>15:00</td>  <td>Coffee break</td> </tr>
      <tr> <td>15:30</td>  <td>Introduction to data manipluation with SQL - part 2</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up and feedback</td> </tr>
      <tr> <td>17:00</td>  <td>Close</td> </tr>
    </table>
  </div>
</div>

{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

</div>

<div class="span10 offset1">
<a id="setup">
<h2>Setup</h2> </a>

<p>
  To participate in a Data Carpentry workshop,
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your workshop.
</p>

{% include setup.html %}

</div>
